


.hero-logo {
    position:absolute;
    top:25%;
    left:15%;
    margin:0px auto;
    width:35%;
}

@media (max-width:667px) {
    .hero-logo {
        margin:0px auto;
        width:50%;
    }

}

.hero-icon {
    width:55px;
    float:left;
}

.hero-hours-block .directions-block {
    display:flex;
    flex-direction:column;
    
}

.hero-content {
    position:absolute;
    top:65%;
    left:15%;
    width:20%;
}

.hours, .address {
    border-bottom: 1.5px solid #FAB105;
    width:100%;
    letter-spacing:1px;
    padding-bottom:10px;
}

.hours {
    text-align:left;
    font-size:.75rem;
    font-weight:lighter;
}

.hours > span {
    font-weight:bold;
}

.hours-title, .directions-title {
    font-size:1.25rem;
    /* margin:10px 10px 10px 15%; */
    font-weight:bold;
    text-align:left;
}

.address {
    font-size:.75rem;
    text-align:left;
    width:200px;
}



@media (max-width:997px) {
    
.hero-logo {
    position:absolute;
    top:15%;
    left:50%;
    margin-left:-25%; 
    width:50%;
}

/* @media (max-width:667px) {
    .hero-logo {
        margin:0px auto;
        width:50%;
    }

} */



.hero-icon {
    width:100px;
    float:left;
}

.hero-hours-block, .directions-block {
    /* margin:5%; */
    display:flex;
    flex-direction:row;
}

.hours-details {
    display: flex;
    flex-direction: column;
}
.directions-details {
    display: flex;
    flex-direction: column;
}

.hero-content {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

.hours, .address {
    border-bottom: 1.5px solid #FAB105;
    width:100%;
    letter-spacing:1px;
    padding-bottom:10px;
}

.hours {
    text-align:left;
    font-size:.75rem;
    font-weight:lighter;
    width:200px;
}

.hours > span {
    font-weight:bold;
}

.hours-title, .directions-title {
    font-size:1.25rem;
    /* margin:10px 10px 10px 15%; */
    font-weight:bold;
    text-align:left;
}

.address {
    font-size:.75rem;
    text-align:left;
}
}





