.page-container {
    padding: 0px 4vw;
}
.quote-div {
    position:relative;
    width:50%;
    height:100px;
    background-color: #E6E6E6;
    /* margin:5% auto; */
    margin:0px auto;
    padding-top:25px;
}

.circle-icon {
    background: #ffc0c0;
    padding:10px;
    border-radius: 50%;
    font-size:50px;
    position:absolute; 
    top:-5px;
    left:-25px;
}


.heading-block {
    position:relative;
    height:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lower-dots {
    width: 25px;
    position: absolute;
    left: 50%;
    bottom: -34px;
    margin-left: -12.5px;
    z-index: 9000;
}

.heading-block h2 {
    font-size:36px;
}

.heading-block h2:last-of-type {
    color:#FAB105;
}


@media (max-width:677px) {
    .quote-div{
        width:75%;
    }
}



.price-container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}

.item{
    width:250px;
    height:200px;
    background-color:white;
    margin:10px;
}




.action-button {
    font-size:22px;
    height: 60px;
    /* opacity:.5 !i mportant; */
    width: 180px;
    width:100%;
    justify-content: center;
    position: absolute;
    display: flex;
    bottom: 60px;
    align-items: center;
    padding: 10px;
    transition: .6s;
    text-align: center;
    border:none;
}

.btn-outline-dark {
    color:white;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    opacity:1 !important;
    
}


.arrow-img{
    /* font-size:30px; */
    /* height: 60px; */
    opacity:.5 !important;
    width:5%; 
    justify-content: center;
    position: absolute;
    display: flex;
    bottom: 0px;
    align-items: center;
    padding: 10px;
    transition: .6s;
    text-align: center;
    border:none;
}


.arrow-container {
    position:absolute;
    left:49.5%;
    width:50%;
    bottom:35px;
    margin:0px auto;
    height:200px;
}

.hero-text-block {
    position:absolute;
    left:5%;
    color:white;
}


.title-name {
    font-size:6rem;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    letter-spacing: .75rem;

}

.title-phrase {
    font-size:2rem;
    letter-spacing:3px;
}



.homepage-content > hr {
    margin:50px auto;
}

.bio-text-box > hr {
    margin: 50px 0px;
}


/* Scroll Snap */

.scroll-snap-outer {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;/* when two values set first is block, second inline */
}

.scroll-snap-outer .inner {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.team-section, .local-section {
    width:100%;
    height:100%;
    background-color: #F8F8F8;
    margin:150px 0px;
}

.local-section {
    background-color: white;
}

.colms{
    width:100%;
    height:100%;
    /* max-width:1200px; */
    padding: 75px 15%;
    margin:0px auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.colm-left{
    max-width:750px;
    position:relative;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0rem 3.5rem;
    align-items: flex-start;
}

.colm p {
    max-width:415px;
    min-width:200px;
}

.colm-right{
    max-width:750px;
    position:relative;
    /* width: 50%; */
    /* max-width:500px; */
    margin:0rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.colm-img {
        width:100%;
        min-width:375px;
        /* max-width: 475px; */
        height: 585px;
        background-size:cover;
        border-radius: 15px;
        background-position:center;
}


.bigdots {
    width: 150px !important;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left:-75px;
}

.colm button {
    margin:10px 0px;
}



.home-grid {
    display:flex;
    height:100%;
    min-height:100vh;
    margin:150px 0px;

}

.grid-left, .grid-right {
    width:100%;
}

.grid-left {
    width:50%;
background-image:url('../../media/mixin.jpg');
background-size:cover;
background-position-x:35%;
border-radius:15px;
margin-right:10px;
}
.grid-right {
    width:50%;
    display:flex;
    flex-direction: column;
}

.grid-right-top {
    border-radius:15px;
    width:100%;
    height:100%;
background-image:url('../../media/window_seat.jpg');
background-size:cover;
background-position-x:35%;
min-height:500px;
}

.grid-right-bottom {
    border-radius:15px;
    margin-top:10px;
    width:100%;
    height:100%;
background-image:url('../../media/cool-couch.jpg');
background-size:cover;
background-position-x:center;
min-height:500px;
}

@media (max-width:767px) {


    .heading-block {
        text-align:center;
    }

    .heading-block h2 {
        margin-bottom:0px;
    }


.colm-right h1, .local-section h1 {
    margin-top:50px;
}

    .home-grid {
        flex-direction: column;
        min-height:500px;
        align-items: center;
        margin:50px 0px;
    }
    .grid-left, .grid-right {
        width:100%;
        min-height:500px;
    }
    .grid-right-bottom{
    
        margin-top:0px;
    }
    .grid-right-top{
        margin-left:10px;
    }

    .grid-right {
        margin-top:10px;
        flex-direction:row-reverse;
      
    }

    .team-section, .local-section {
        margin:50px 0px;
    }

    .colms {
        flex-direction: column;
        padding: 50px 0%;
    }

    .colm-right.text, .colm-left.text {
        margin:0px 20px;
    }

    .local-section .colms {
        flex-direction:column-reverse;
    }


    .bigdots {
        width: 90px !important;
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -45px;
    }
}