

.menu-hero-comp-parent {
    display:flex;
    color:white;
    background-color:transparent;
    align-items:center;
    justify-content: center;
    /* overflow:hidden; */
    /* z-index:-10; */
    position:relative;
    /* transition: ease-in-out .6s; */
}

.menu-hero-content {
    max-width:300px;
}

.menu-hero-comp{
    height:100%;
    /* transition: ease-in-out .6s; */
    width:100%;
}
.menu-hero-comp:hover {
    /* transform: scale(1.03); */
    /* transition: ease-in-out .6s; */
    /* z-index:50; */
    /* overflow:hidden; */
}

.hero-logo {
    /* width: 75%; */
    max-width:750px;
    min-width:500px;
}

@media (max-width:667px) {
.hero-logo {
    max-width:90vw;
    min-width:unset;
}


    .menu-hero-comp {
        height:415px !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .menu-hero-content {
        text-align:center;
    }

}