.hours-directons-component {
    min-height:100vh;
    max-height:100%;
background-color:#F5F5F5;
display: flex;
align-items: center;
margin:100px 0px;
}

.hd-content{
    display:flex;
    margin:0px auto;
    max-width:980px;
}

.hd-content div:first-child {
    border-right: 1.5px solid #fab105;
}
.hd-block > p {
    font-size:1.5rem;
}

@media (max-width:667px) {
    .hd-block > p {
        font-size:1rem;
    }
}


.hd-block {
    padding: 50px;
    margin: 0px auto;
}


.hd-comp-dots{
    width: 25px;
    /* position: absolute; */
    left: 50%;
    bottom: 0%;
    margin-top:-34px;
    margin-left: -12.5px;
    z-index: 9000;
}

/* @media (max-width:825px) {
    .hd-content{
        flex-direction:column;
        padding:300px 250px;
        }
        .hd-content div:first-child {
            border-right: none;
            padding-bottom:10px;
            margin-bottom:10px;
            border-bottom: 1.5px solid gold;
        }
        
    }

    @media (max-width:824px) {
        .hd-content{
            padding: 250px 125px;
        }
    } */

    @media (max-width:667px) {
        .hd-content{
            flex-direction:column;
        }
        .hd-content div:first-child {
            border-right: none;
            padding-bottom:10px;
            margin-bottom:10px;
            border-bottom: 1.5px solid #fab105;
            padding-bottom: 50px;
        }
    }