
.navbar-brand {
   padding-left: 3rem;
} 


.nav {
    background-color:transparent !important;
}


.navbar {
    z-index:999;
    justify-content: center;
    height:60px;
    /* margin-top:-5px; */
    /* padding:1rem; */
    /* padding: 3.5rem 1rem; */
       /* background-color:#fcfdff; */
}

.navbar-nav{
    margin-top:25px;
    text-align: center;
    /* margin-right:50px; */
}

.navbar-collapse .collapsing {
    transition:.3s;
}

.navbar-collapse.collapse.show {
    padding:3rem 1rem;
    transition:.3s;
}

.navbar-brand{
    margin-top:25px;
}

.justify-content-center.navbar-nav {
    width: 100%;
}


.navbar-light .navbar-nav .nav-link {
    color:#ffffff7a;
    font-weight:400;
font-size:12px;
}

.navbar-light .navbar-nav .nav-link.active {
    /* color:white; */
    font-weight:400;
    opacity:1;
}
.nav-link {
    margin: 0px 8px;
    font-size: 16px !important;
    font-weight: 400;
}

.nav-arrow{
    position:absolute;
    right:25px;
    top:40px;
    width:25px;
}

@media (min-width: 768px) {

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
}

.btn-primary {
    border-color:transparent;
    background-color:transparent;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#FAB105;
}

.navbar-nav a:hover {
    color: inherit;
    opacity: 1;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 400;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
    /* margin-top: 15.5px; */
}


.homepage-content {
    margin-top: -55.63px;
}


.navbar-toggler {
    background-color:transparent !important;
}


/* this ling ----- */

.navbar-light .navbar-toggler-icon {
    /* width:100px; */
    /* height:auto; */
    background-image: url('../../media/star-icon-white.png') !important;
    border:none;
}
    .navbar-light .navbar-toggler {
        color:transparent;
        border-color:transparent;
    }


    .navbar button:focus {
        outline:none;
    }

    .navbar-toggler-icon {
        width: 75px;
    height: 75px;
    }

    @media(max-width:767px) {
        .navbar-brand{
            display:none;
        }
    }

    @media(max-width:960px) {
        .navbar {
            /* height:auto; */
            width:100%;
        }
    }


    
@media (min-width:767px) {

    .hide-desktop{
        display:none;
    }
    .navbar {
        padding-right:50px;
    }

    .fixed-top {
        height:75px;
    }
}

.nav-btn {
    max-width:75px;
}

@media (max-width:767px) {


    .navbar-light .navbar-nav .nav-link {
color:white;

    }

    .nav-link {
        font-size:26px !important;
    }
    .navbar {
            height: auto;
        background-color:black !important;
        color:white;
    }
}