a {
    color:inherit;
}

.hover-text{
   left:50%;
   margin-left:-12.5px;
   margin-top:-14.25px;
   top:50%;
    /* background-color:white; */
    z-index:1000;
    color:black;
    opacity:0;
    position:absolute;
    width:25px;
    /* bottom:15%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:.75rem;
}

.insta-post:hover .hover-text{
    opacity:1;
    transition: .2s;
}

.insta-post:hover .insta-img {
    filter: brightness(60%);
    transition:.2s;
}

.insta-wrapper {
    position:relative;
    display:flex;
    margin:0px auto;
    max-width:780px;
    /* min-height:720px; */
    /* background-color:red; */
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

}


.insta-post{
    position:relative !important;
    flex: 0 0 41%;
    background-size: cover;
    background-position: 50%;
    margin: 5px;
    cursor: pointer;
    text-align:center;
}



.insta-img {
    width: 293px;
    height: 293px;
    background-size:cover;
}


@media(max-width:677px){

    .insta-img {
        width: 160px;
        height: 160px;
        background-size:cover;
    }
    .insta-post {
        flex: 1 0 35%; 
    }
    .insta-wrapper{
        margin:0px 15px;
    }
}

@media(max-width:321px){
.insta-img {
    width: 135px;
    height: 135px;
    background-size:cover;
}
}



/* .insta-post .insta-wrapper{
    flex: 0 0 51%;
} */