.menu-component {
    height:100vh;
    width:100vw;
    background-color:white;
}

.menu-comp-dots {
    width: 25px;
    position: absolute;
    left: 50%;
    bottom: -34px;
    margin-left: -12.5px;
    z-index:9000;
}

.menu-parent {
    max-width:1000px;
    margin:0px auto;
}

.menu-header {
    padding-top:125px;
    display: flex;
    justify-content: space-between;
    max-width:90%;
    margin:0px auto;
}

.menu {
    display:flex;
}

.menu > p {
    margin-top:5px;
    margin-left:25px;
    font-size:26px;
}

.menu-options {
    display:flex;
}

.menu-options p {
    cursor:pointer;
    font-size:0.9rem;
    margin:10px;
}

.menu-options .active {
   border-bottom:1.5px solid #fab105; 
}

.menu-item-container {
    display:flex;
    text-align:left;
    flex:0 0 21%;
    margin: 25px auto;
    /* flex-wrap:wrap; */
}

.menu-stay{
    display:flex;
}

.menu-stay p:nth-child(2){
    padding-left:5px;
    color:#FAB105;
}

.menu-left {
    display:flex;
    flex-direction:column;
}

.menu-description{
    width:226px;
    font-size:0.75rem;
    padding-top:5px;
    color:#ADADAD;
}

.flex-menu-parent {
    margin-top:10%;
    display: flex;
    flex-wrap:wrap;
}


/* @media(min-width:677px) {

} */


/* .menu-right {
    display:flex;
} */