.footer-div {
    /* position:absolute;
    top:25%; */
}

.footer-content-box{
    width:100%;
    position:absolute;
    top:25%;
    color:white;
}

.footer-content-box p {
    font-size:.9rem;
}


.comet-image{
    width:5%;
    margin-top: -1%;
}

@media (max-width:997px) {
    .footer-content-box {
        top:10%;
    }

}

.dots-img{
    width:25px;
    position:absolute;
    left:50%;
    top:-34px;
    margin-left:-12.5px;
}

.icon-box {
    margin-bottom:50px;
    max-width:900px;
    margin:0px auto;
}

.contact-btn-link {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
    background-color:transparent;
    border: 1px solid #FAB105;
    margin-bottom:50px;
}

.justsoup {
    font-size:.5rem !important;
}

.contact-text{
    padding-top: 30px;
    padding-bottom: 10px;
}