.footer-div {
  /* position:absolute;
    top:25%; */
}

/* .coming-soon {
    position: absolute;
    top: 70%;
    left: 25%;
  } */

.coming-soon p {
  color: #fab105;
  font-size: 12px;
}

.footer-content-box {
  width: 100%;
  position: absolute;
  top: 25%;
  color: white;
}

.footer-content-box p {
  font-size: 0.9rem;
}

.comet-image {
  width: 5%;
  margin-top: -1%;
}

.bottom-content {
  position: absolute;
  bottom: 50px;
  color: white;
}

@media (max-width: 997px) {
  .footer-content-box {
    top: 10%;
  }
}

@media (max-width: 768px) {
  .footer-div {
    height: 60vh !important;
  }
}
@media (max-width: 374px) {
  .footer-div {
    height: 67.5vh !important;
  }
}
@media (max-width: 321px) {
  .footer-div {
    height: 70vh !important;
  }
}
.dots-img {
  width: 25px;
  position: absolute;
  left: 50%;
  top: -34px;
  margin-left: -12.5px;
}

.icon-box {
  margin-bottom: 50px;
  max-width: 900px;
  margin: 0px auto;
}

.contact-btn-link {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 30px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
  background-color: transparent;
  border: 1px solid #fab105;
  margin-bottom: 10px;
}

.contact-btn-link:hover {
  border: 1px solid #fff;
  background-color: #FAB105;
}

.justsoup {
  font-size: 0.5rem !important;
}

.contact-text {
  padding-top: 30px;
  padding-bottom: 10px;
}

@media (max-width: 997px) {
  .contact-text {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .bottom-content {
    position: absolute;
    bottom: 30px;
    color: white;
  }
}
@media (max-width: 667px) {
  .bottom-content {
    position: absolute;
    bottom: 50px;
  }
}

.bottom-content a {
  text-decoration: none;
  color: white;
}


@media (max-height: 650px) and (min-width:400px) {
  /* .bottom-content {
    background-color:black;
    position: fixed;
    right:10px;
    bottom: 0px;
    color: white;
} */
}

@media (max-width: 667px) {
img.icon {
  width: 75px;
}
}


@media (max-width: 325px) {
.hero-content {
  top: 30%;
}
.bottom-content {
  position: absolute;
  bottom: 5px !important;
}
}
