.menu-component {
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  background-color: white;
  /* display: flex;
  align-items: center; */
  /* margin: 100px 0px; */
}

@media (min-width: 325px) {
  .menu-component {
    /* padding: 40px; */
  }
}

.menu-comp-dots {
  width: 25px;
  position: absolute;
  left: 50%;
  bottom: -34px;
  margin-left: -12.5px;
  z-index: 9000;
}

.menu-parent {
    max-width: 1000px;
    padding: 20px;
    margin: 0px auto;
    margin-bottom: 100px;
}

.menu-header {
  display: flex;
  justify-content: center;
  max-width: 95%;
  margin: 10% auto;
  /* margin-bottom: 10%; */
}

.menu {
  display: flex;
}

.menu > p {
  margin-top: 5px;
  margin-left: 25px;
  font-size: 26px;
}

.menu-options {
  display: flex;
}

.menu-options p {
  cursor: pointer;
  font-size: 0.9rem;
  margin: 10px;
}

.menu-options .active {
  border-bottom: 1.5px solid #fab105;
}

.menu-item-container {
  display: flex;
  text-align: left;
  flex: 1 0 21%;
  margin: 25px auto;
  /* flex-wrap:wrap; */
}
.menu-item-overflow {
  display: flex;
  text-align: left;
  flex: 1 0 21%;
  margin: 25px auto;
  /* flex-wrap:wrap; */
}
.food-type {
    flex-basis: 100%;
    text-align: left;
    margin: 10px 0px;
  }
  

@media (max-width: 667px) {
  .menu-item-container {
    justify-content: center;
  }
  .menu-item-overflow {
    justify-content: center;
  }
  .food-type {
    text-align: center;
  }
}
.menu-item-overflow:last-child {
  flex-grow: 3.75;
  /* color:red; */
}

.menu-stay {
  display: flex;
}

.menu-stay p:nth-child(2) {
  padding-left: 5px;
  color: #fab105;
}

.menu-left {
  display: flex;
  flex-direction: column;
}

.menu-description {
  width: 226px;
  font-size: 0.75rem;
  padding-top: 5px;
  color: #adadad;
}

.flex-menu-parent {
  align-self: flex-start;
  /* margin-top:10%; */
  display: flex;
  flex-wrap: wrap;
}


/* @media(min-width:677px) {

} */

/* .menu-right {
    display:flex;
} */
